

.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-syad{background-color:#000000;border-color:inherit;color:#ffffff;text-align:left;vertical-align:middle}
.tg .tg-4f0n{background-color:#000000;border-color:inherit;color:#ffffff;text-align:center;vertical-align:middle}
.tg .tg-l1ar{background-color:#000000;border-color:inherit;color:#1af07d;font-weight:bold;text-align:left;vertical-align:middle}
.tg .tg-5g3n{background-color:#000000;border-color:inherit;color:#FFF;text-align:center;vertical-align:middle}



.btn {
  border: 2.5px solid black;
  /*border-color: #1af07d;*/
  background-color: #0000;  
  color: #04ff00;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 15px;
}

.download {
  border-color: #1af07d;
  color: #1af07d;
}

.download:hover {
  background-color: #1af07d;
  color: white;
}

