

.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-syad{background-color:#000000;border-color:inherit;color:#ffffff;text-align:left;vertical-align:middle}
.tg .tg-4f0n{background-color:#000000;border-color:inherit;color:#ffffff;text-align:center;vertical-align:middle}
.tg .tg-l1ar{background-color:#000000;border-color:inherit;color:#1af07d;font-weight:bold;text-align:left;vertical-align:middle}
.tg .tg-5g3n{background-color:#000000;border-color:inherit;color:#FFF;text-align:center;vertical-align:middle}


/* Button styles */
.btn {
  border: 2.5px solid black;
  background-color: transparent;
  border-radius: 10px;
  color: #04ff00;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 15px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.download {
  border-color: #1af07d;
  color: #1af07d;
}

.download:hover {
  background-color: #1af07d;
  color: white;
  box-shadow: 0 0 20px rgba(26, 240, 94, 0.7);
}


.cite {
  border-color: #1a73f0;
  border-radius:20px;
  color: #1a73f0;
  vertical-align: middle; 
}

.cite:hover {
  background-color: #1a73f0;
  box-shadow: 0 0 20px rgba(26, 115, 240, 0.7);
  color: white;
}
